#### Цикл for

In [12]:
# создадим список и выведем построчно каждый из его элементов, умноженный на 10
collection = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n = 10
for i in collection:
    el = n * i
    print(el)

10
20
30
40
50
60
70
80
90
100

### Цикл while

In [14]:
# будем выводить значения в цикле до тех пор, пока count меньше 5
count = 0
while count < 5:
    count += 1
    print(count)

1
2
3
4
5

### Функции

In [13]:
# создадим функцию, которая выводит Hello!
def func():
    print("Hello!")


func()  # вызовем эту функцию

Hello!

In [17]:
# создадим функцию, которая на вход принимает значения и отдает их на выход
def func(x):
    return x * 2


func(4)  # вызовем эту функцию

8

In [16]:
# используем функцию в связке с условным оператором
def func(x):
  return x + 2

data = func(3)
if data > 2:
  print("Число больше двух")
else:
  print("Число меньше двух")

Число больше двух

In [15]:
# Функции в связке с циклом:
def test_func(a):
  print(a + 1)

def main():
  param_list = [2, 5, 6]
  for item in param_list:
    test_func(item)
    
if __name__ == "__main__":
  main()

3
6
7